
.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url(./assets/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Rubik", sans-serif;
}


@mixin desktop-small {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin tab-small {
  @media (max-width: 850px) {
    @content;
  }
}

@mixin tab {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin tel {
  @media (max-width: 576px) {
    @content;
  }
}

@import "./scss/_reset";
@import "./scss/header";
@import "./scss/hero";
@import "./scss/servise";
@import "./scss/desc";
@import "./scss/team";
@import "./scss/form";
@import "./scss/routing";
@import "./scss/footer";
