.footer {
  padding: 33px 0;

  p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Rubik;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
  }
  .container {
    padding-top: 33px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #969696;
    @include tel {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 25px;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
  .footer__list {
    display: flex;
    gap: 53px;
    li {
      a {
        color: rgba(255, 255, 255, 0.8);
        font-family: DM Sans;
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
      }
    }
  }
}
