.hero {
  padding-bottom: 127px;
  .container {
  }
  .hero__wrap {
    max-width: 534px;
    .hero-title {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
      font-family: DM Sans;
      font-size: 58px;
      font-weight: 700;
      line-height: 84px;
      letter-spacing: 1.16px;
      background: var(
        --Gd,
        linear-gradient(90deg, #2563eb 0.11%, #d946ef 58.65%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .hero-text {
      color: #e5e7eb;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
      font-family: DM Sans;
      font-size: 15px;
      font-weight: 500;
      line-height: 30px;
      margin: 29px 0;
    }
    .hero-link {
      color: #f9fafb;
      font-family: DM Sans;
      font-size: 16px;
      font-weight: 500;
      display: inline-block;
      padding: 20px 40px;
      border-radius: 6px;
      background: var(
        --Gardient,
        linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%)
      );
      margin-right: 29px;
    }
    .hero-video {
      color: #f9fafb;
      font-family: DM Sans;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .hero__img {
  }
}
